.chat-block {
  display: flex;
  margin-bottom: 22px;
}

.chat-block.user {
  flex-direction: row-reverse;
}

/* --- Chatbox -------------------------------------------------------------- */

.chatbox-container {
  flex: 1;
  align-self: flex-end;
  text-align: left;
  margin: 0 0 0 18px;
}

.chatbox-container.user {
  text-align: right;
  margin: 0 18px 0 0;
}

.chatbox {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  background-color: var(--inactive-color);
  line-height: 22px;
  font-size: 16px;
}

.chatbox:after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: var(--inactive-color);
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.chatbox.user {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  background-color: var(--primary-color);
  text-align: right;
  line-height: 22px;
  font-size: 16px;
  color: white;
}

.chatbox.user:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: auto;
  right: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: var(--primary-color);
  border-left: 0;
  border-top: 0;
  margin-top: -20px;
  margin-right: -20px;
}

.sogi-bot-avatar {
  height: 102px;
  margin: 0;
}

.bot-avatar {
  align-self: flex-end;
  width: 54px;
  height: 54px;
  margin: 0;
}

.user-avatar {
  align-self: flex-end;
  width: 54px;
  height: 54px;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 30%;
  display: table;
  padding-bottom: 8px;
}

.flex-item .option {
  display: table-cell;
  width: 88px;

  padding: 8px 14px;
  border-radius: 20px;
  background-color: var(--primary-color);
  line-height: 22px;
  font-size: 16px;
  color: #fff;
}

.btn-flat-primary.yes,
.btn-flat-cancel.no {
  width: 88px;
  height: 40px;
  padding: 5px 14px;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
}

.btn-flat-primary.home,
.btn-flat-primary.overview {
  width: 110px;
  height: 40px;
  padding: 5px 14px;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
}

.btn-flat-primary.home {
  margin-left: 55px;
  margin-right: 6px;
}

.btn-flat-primary.overview {
  margin-right: 55px;
  margin-left: 6px;
}

.btn-flat-primary.yes {
  margin-left: 76px;
  margin-right: 6px;
}

.btn-flat-cancel.no {
  margin-right: 76px;
  margin-left: 6px;
}

.document-preview {
  text-align: right;
  height: 80px;
  border-radius: 8px;
  border: solid 1px #000;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.slide {
  animation: slide-up 2.5s ease-out 1 normal;
}

@keyframes slide-up {
  0% {
    transform: translateY(22px);
  }
  100% {
    transform: translateY(0);
  }
}
