.login img {
  z-index: -1;
  position: absolute;
  top: -22px;
  left: -100px;
  width: 142.5vw;
}

.login-welcome {
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
  font-size: 47px;
  font-weight: 700;
}

.login-subtitle {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  font-size: 20px;
}

.login-container {
  z-index: 9;
  margin: 243px 0 0 0;
  padding: 0;
}

.login-section h1 {
  font-size: 16px;
  font-weight: normal;
}

.login-section input[type='text'],
.login-section input[type='password'] {
  width: 290px;
  margin-top: 38px;
}

.login-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.login-footer button {
  width: 300px;
  height: 55px;
  margin: 0 auto 31px auto;
  font-size: 17px;
}

.modal {
  z-index: -1;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #0070ad;
  opacity: 0;
  overflow: hidden;
}

.fade-out-with-delay {
  animation-duration: 2s;
  animation-name: fade-out-with-delay-keyframes;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes fade-out-with-delay-keyframes {
  0% {
    z-index: 999;
    display: block;
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    z-index: -1;
    display: none;
    opacity: 0;
  }
}
